@import "tailwindcss";
@config "../tailwind.config.js";

body {
  margin: 0;
  color: #333;

  @apply bg-slate-50;
}

.charts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
}

.chart-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: white;
}

.chart-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 50%; /* Maintain aspect ratio */
  position: relative;
}

.chart-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.axis text {
  font-size: 12px;
  fill: #666;
}

.axis path,
.axis line {
  stroke: #ddd;
}

.grid line {
  stroke: #eee;
}

.dot {
  transition: all 0.2s ease-in-out;
}

.dot:hover {
  cursor: pointer;
}

.bar {
  transition: all 0.2s ease-in-out;
}

.bar:hover {
  cursor: pointer;
}

.filter-select {
  @apply p-2 rounded border border-gray-300 mt-1 bg-white;
}
